<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<!-- display name是工程的别名/昵称 -->
	<display-name>杨梓杰的Web工程</display-name>
	<!-- 这是站点的默认首页 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- 版本号 -->
	<context-param>
		<description>软件版本号</description>
		<param-name>version</param-name>
		<param-value>0.1.0</param-value>
	</context-param>
	<!-- 工程的启动类 -->
	<servlet>
		<servlet-name>MyStartup</servlet-name>
		<servlet-class>cn.gzccc.run.MyStartup</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 监听器 -->
	<listener>
		<listener-class>cn.gzccc.env.MyListener</listener-class>
	</listener>
	<!-- 过滤器 -->
	<filter>
		<filter-name>MyFilter</filter-name>
		<filter-class>cn.gzccc.env.MyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>*.idiom</url-pattern>
	</filter-mapping>
	<!-- 控制器（成语查询系统） -->
	<servlet>
		<servlet-name>IdiomControllor</servlet-name>
		<servlet-class>cn.gzccc.idiom.IdiomControllor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdiomControllor</servlet-name>
		<url-pattern>*.idiom</url-pattern>
	</servlet-mapping>
	<!-- 控制器（论坛） -->
	<servlet>
		<servlet-name>ForumControllor</servlet-name>
		<servlet-class>cn.gzccc.bbs.Controllor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForumControllor</servlet-name>
		<url-pattern>*.bbs</url-pattern>
	</servlet-mapping>
</web-app>